/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
	body {
		padding-top: 60px; /* 60px para fazer com que o conteiner esteja a baixo do barra superior*/
	}
}

body {
	font-size: 62.5%;
}

header {
	font-size: 1.6em; /*16 pixels*/
	height: auto;
	overflow: hidden;
}

header h1 {
	font-size: 40em;
	margin-top: 5px;
	display: inline-block;
}

header h4 {
	font-size: 10em;
	margin-top: 5px;
	display: inline-block;
}

input {
	width: 70%;
}

label {
	font-size: 1.4em;
	width: auto;
	text-wrap: capitalize;
}

h1 {
	font-size: 5.6em;
	line-height: 1.4em;
	display: inherit !important;
}

h2 {
	font-size: 1.6em !important;
	line-height: 1.4em !important;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
}

.visivel {
	display: inline-block !important;
}

.invisivel {
	display: none !important;
}

input[type="submit"], input[type="reset"] {
	text-align: center !important;
	margin-bottom: 0.5em;
}
a {
	cursor: pointer;
}

ul li{
	list-style: none;
}

header nav{
		width: 50%;
		display: inline-block;
		float: right;
		margin-top: 20px !important;
}
footer p{
		text-align: center !important;
		line-height: 2.0em;
}
