/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {	
	body{
		padding-top: 0px; 
	}

	header {
		width:  100%;
		margin: 0;
		display: block;
		padding: 5px 0px 5px 0px !important;
	}
	
	header .conteiner h1{
		padding: 20px;
		text-align: center !important;
	}

	.conteiner {
		width:280px;
		min-width: 280px;
		margin: 0px;
		margin-left: auto;
		margin-right: auto;
	}
		
	header nav{
		width: 100%;
		display: block;
	}
	
}
