@media only screen 
and (min-device-width : 480px)
and (max-width : 1024px) {
      /* estilos */
    .conteiner {
		width:655px;
	}
	
	body{
		padding-top: 0px;
	}
	
	header nav {
		float: none !important;
	}
	
}